{% include 'arriba.html.twig' %}

{% include 'menu_amarillo.html.twig' %}
           
<div class="contenedor_general">   

    <div class="container_12">
        {% include 'mensaje.html.twig' %} 
            <div class="grid_10 push_1 form_consulta">

                    {{ form_start(form) }}

                    <fieldset>
                    <legend> Alta Controlador</legend>
                    <div class="separador"></div>
                    <div class="grid_8 push_1 alpha omega">

                        
                        {{ form_errors(form) }}


                        
                        {{ form_label(form.nombre) }}  
                        {{ form_errors(form.nombre) }}
  
                        {{ form_widget(form.nombre) }}
                        <div class="separador"></div>


                            {{ form_label(form.borrado) }} 
                        {{ form_errors(form.borrado) }}
                            <div class="uno">
                                {{ form_widget(form.borrado) }}
                            </div>                    
                            
                            
                            <div class="clear" style="height:15px;"></div>
                            <div class=" grid_2 push_1 alpha form_consulta">
                                {{ form_widget(form.Guardar) }}
                            </div>
                    </div>
            </div>                 
            </fieldset>
            {{ form_end(form) }}
                


            </div>
    </div>   <!-- general 12-->

   </div> <!-- general-->

 {% include 'abajo.html.twig' %}
