{% include 'arriba.html.twig' %}

{% include 'menu_amarillo.html.twig' %}
           
<div class="contenedor_general">   

    <div class="container_12">
            {% include 'mensaje.html.twig' %} 
            <div class="grid_10 push_1 form_consulta">
    {% if user.salt %}
                    {{ form_start(form) }}
                  <fieldset>
                 
                    <legend> Cambiar Contraseña</legend>
                    <div class="separador"></div>
                    <div class="grid_8 push_1 alpha omega">

                        
                        {{ form_errors(form) }}
    
            
        <label class="largo"  for="campo2">Clave anterior:</label>
                        {{ form_errors(form.claveant) }}
                            <div class="cinco">
                                {{ form_widget(form.claveant) }}
                            </div>     
                        <div class="separador"></div>
            <label class="largo"  for="campo3">Clave Nueva:</label>
                        {{ form_errors(form.clavenueva) }}
                            <div class="cinco">
                                {{ form_widget(form.clavenueva) }}
                            </div>     

                        <div class="separador"></div>      
            <label class="largo"  for="campo3">Repetir Clave Nueva:</label>
                        {{ form_errors(form.clavenueva2) }}
                            <div class="cinco">
                                {{ form_widget(form.clavenueva2) }}
                            </div>     
                        <div class="separador"></div> 
                            <div class="clear" style="height:15px;"></div>
                            <div class=" grid_2 push_1 alpha form_consulta">
                              <div class="submit">
                                {{ form_widget(form.Guardar) }}
                                
                                </div>
                            </div>
                    </div>
                       
                     </fieldset> 
            {{ form_end(form) }}
             
      {% else %}
           <div class="grid_10 push_1 form_consulta">
           <div class="error_index">
           El usuario {{ user.usuario }} no es un usuario local por lo tanto la contraseña no se puede cambiar desde esta aplicación
           <div>
           </div>
           
      {% endif %}

          
    </div>   <!-- general 12-->

   </div> <!-- general-->

 {% include 'abajo.html.twig' %}
