    
{% include 'arriba.html.twig' %}

{% include 'menu_amarillo.html.twig' %}



           
<div class="contenedor_general">   
<div class="container_12">
 <h3 class="subrayado">Modulos</h3>
 </div>
<div class="container_12">
   {% include 'mensaje.html.twig' %}
<div class="clear" style="height:15px;"></div>  

    <form id="form2" method="post">   

<table class="contenido">              
    
    <thead>
    <tr>
    <th class="titulo_tabla"  colspan="10">
            Modulos
    </th>
    </tr>
    </thead>
    <tr>
        
         <th>Borrar</th>
         <th> &nbsp; </th>
        <th>{{ knp_pagination_sortable(pagination,'Id', 'm.idSysModulo')|raw }}</th>
       <th>{{ knp_pagination_sortable(pagination,'Nombre', 'm.nombre')|raw }}</th>
    <th>{{ knp_pagination_sortable(pagination,'Descripcion', 'm.descripcion')|raw }}</th>
    <th>{{ knp_pagination_sortable(pagination,'orden', 'm.orden')|raw }}</th>
    <th>{{ knp_pagination_sortable(pagination,'borrado', 'm.borrado')|raw }}</th>


    </tr>

    
    {% for modulo in pagination %}
    <tr>
        <td><input type="checkbox" id="ids_{{ modulo.idsysmodulo }}" name="ids[{{ modulo.idsysmodulo }}]"></td>
  <td><a href="Editar/{{ modulo.idsysmodulo }}">Editar</a></td>    
        <td>{{ modulo.idsysmodulo }}</td>
        <td>{{ modulo.nombre }}</td>
        <td>{{ modulo.descripcion }}</td>
                <td>{{ modulo.orden }}</td>
        <td>{{ modulo.borrado }}</td>

        

    </tr>
    {% endfor %}
    
    
</table>
     <div class="separador"></div>   
<div class="navigation" align="center">
    {{ knp_pagination_render(pagination)|raw }}
   </div>

                <div class="separador"></div>
                <div class=" grid_4 push_4 form_consulta">
<input type="submit" class="submit" value="Borrar" name="B" id="b" >

</div>
   </form>              
   </div>
    
     
     {% include 'abajo.html.twig' %}

